.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  margin-top: 16px;
  height: calc(100vh - 95px);
  h1 {
    margin-top: 46px;
    font-size: 48px;
    margin-bottom: 23px;
  }

  span {
    font-size: 24px !important;
  }
}

.web-margin {
  overflow: auto;
  padding-top: 122px;
  height: calc(100vh - 222px);
  padding-bottom: 100px;
}
